<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price Saver Alert</title>
    <style>
      #body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #EDDCD9;
        width: 80%;
        margin: 0 auto;
        border: 5px outset #212529;
      }

      img {
        width: 400px;
        height: 400px;
        display: block;
        margin: auto;
      }

      main {
        width: 80vw;
        margin: auto;
      }

      header {
        margin-bottom: 3rem;
      }

      header > p {
        font-size: 1.25rem;
        text-align: center;
        color: #6c757d;
      }

      h1 {
        padding: 0.2rem;
        color: #212529;
        text-align: center;
        font-size: 4.5rem;
        font-weight: 300;
      }

      h3 {
        color: #DE5499;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.75rem;
        text-decoration: underline;
      }

      a {
        display: block;
        text-align: center;
        color: #212529;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
      }

      li {
        width: fit-content;
        margin: 0 auto;
      }

      .list {
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0 1rem;
      }

      .product-name {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        padding: 0.2rem;
        color: #212529;
        text-decoration: underline;
      }

      .original-price {
        color: #DE5499;
        font-size: 1.25rem;
        margin-bottom: 1rem;
        padding: 0.2rem;
        text-decoration: line-through;
      }

      .savings {
        font-size: 1.25rem;
        font-weight: 600;
        color: #198754;
        margin-bottom: 3rem;
        padding-top: 3rem;
        text-align: center;
      }

      .offer {
        border: 0.1rem solid #DE5499;
        color: #DE5499;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 700;
      }

      .current-price {
        color: #fff;
        background-color: #20c997;
        border-radius: 16px;
        padding: 10px 20px;
      }

      .status {
        color: #198754;
      }

      .instock {
        color: #DE5499;
      }

      .info {
        font-size: 1.25rem;
        text-align: center;
        color: #0d6efd;
        text-decoration: underline;
      }

      .info-id {
        color: #E99F4C;
        text-align: center;
        font-size: 1.25rem;
      }

      .info-extra {
        color: #6c757d;
        font-size: 1.25rem;
        text-align: center;
      }

      .showcase {
        height: 400px;
        width: 400px;
        border: 5px inset #e99f4c
      }
    </style>
  </head>
  <body id="body">
    <header class="header">
      <h1 class="title">The Money Saving Helper</h1>
      <p class="intro">Let's see whether we can make some savings today....</p>
    </header>
    <main class="main">
      <h3>Here is your search result:</h3>
      <% if (Product.offer || Product.nectarOffer) { %>
      <p class="savings">
        Woo-hoo!!! This product is available to purchase at a lower price ££££
      </p>
      <% } %>
      <img
        src="<%= Product.imageUrl %>"
        alt="product image from Boots"
        class="showcase"
      />
      <ul>
        <li class="product-name"><%= Product.title %></li>
        <li class="list current-price">
          Current Price: <%- Product.offer ? Product.retailPrice :
          Product.nectarOffer ? Product.offerPrice : Product.retailPrice %>
        </li>
        <% if (Product.retailPrice && Product.offerPrice) { %>
        <li class="original-price">
          Normal Price: <%- Product.offer ? Product.offerPrice :
          Product.retailPrice %>
        </li>
        <% } %>
        <% if (Product.promotionMsg) { %>
        <li class="offer">PROMOTION: <%= Product.promotionMsg %></li>
        <% } %>
        <% if (Product.nectarOffer) { %>
        <li class="list status"><%= Product.nectarOffer %></li>
        <% } %>
        <% if (Product.offer) { %>
        <li class="list instock"><%= Product.offer %></li>
        <% } %>
      </ul>
    </main>
    <p class="info">Below is the ID Number for the price alert you created:</p>
    <p class="info-id"><%= Product._id %></p>
    <p class="info-extra">
      (quote this number when you want to unsubscribe from this price alert)
    </p>
    <a href="/unsubscribe"> http://localhost:5000/unsubscribe </a>
  </body>
</html>
